In [1]:
!pip3 install langchain_community

Requirement already satisfied: langchain_community in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (0.0.34)
Requirement already satisfied: PyYAML>=5.3 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from langchain_community) (6.0.1)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from langchain_community) (2.0.29)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from langchain_community) (3.9.5)
Requirement already satisfied: dataclasses-json<0.7,>=0.5.7 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from langchain_community) (0.6.4)
Requirement already satisfied: langchain-core<0.2.0,>=0.1.45 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from langchain_community) (0.1.45)
Requirement already satisfied: langsmith<0.2.0,>=0.1.0 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from langchain_community) (0.1.50)
Requirement already satisfied: numpy<2,>=1 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from langchain_community) (1.26.4)
Requirement already satisfied: requests<3,>=2 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from langchain_community) (2.31.0)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from langchain_community) (8.2.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.9.4)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (3.21.1)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (0.9.0)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from langchain-core<0.2.0,>=0.1.45->langchain_community) (1.33)
Requirement already satisfied: packaging<24.0,>=23.2 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from langchain-core<0.2.0,>=0.1.45->langchain_community) (23.2)
Requirement already satisfied: pydantic<3,>=1 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from langchain-core<0.2.0,>=0.1.45->langchain_community) (2.7.1)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from langsmith<0.2.0,>=0.1.0->langchain_community) (3.10.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from requests<3,>=2->langchain_community) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from requests<3,>=2->langchain_community) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from requests<3,>=2->langchain_community) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from requests<3,>=2->langchain_community) (2024.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from SQLAlchemy<3,>=1.4->langchain_community) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from SQLAlchemy<3,>=1.4->langchain_community) (3.0.3)
Requirement already satisfied: jsonpointer>=1.9 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.2.0,>=0.1.45->langchain_community) (2.4)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from pydantic<3,>=1->langchain-core<0.2.0,>=0.1.45->langchain_community) (0.6.0)
Requirement already satisfied: pydantic-core==2.18.2 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from pydantic<3,>=1->langchain-core<0.2.0,>=0.1.45->langchain_community) (2.18.2)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\atul manjhi\downloads\desktop\financial filetuing\filetuning\lib\site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain_community) (1.0.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
from langchain_community.llms import Ollama

In [3]:
llm = Ollama(model = "llama3")
llm.invoke("the first man on the moon was....")

'The answer is: Neil Armstrong!\n\nOn July 20, 1969, NASA\'s Apollo 11 mission made history when Neil Armstrong became the first person to set foot on the Moon. He famously declared, "That\'s one small step for man, one giant leap for mankind," as he stepped off the lunar module Eagle and onto the Moon\'s surface.\n\nArmstrong was followed by fellow astronaut Edwin "Buzz" Aldrin, who also walked on the Moon during the mission. Michael Collins remained in orbit around the Moon in the command module Columbia.\n\nWhat an incredible achievement!'

In [4]:
# Read the trasaction 2022_2023.csv
import pandas as pd
df = pd.read_csv("transactions_2022_2023.csv") 
df

           Date        Name / Description Expense/Income  Amount (EUR)
0    2023-12-30           Belastingdienst        Expense          9.96
1    2023-12-30               Tesco Breda        Expense         17.53
2    2023-12-30   Monthly Appartment Rent        Expense        451.00
3    2023-12-30  Vishandel Sier Amsterdam        Expense         12.46
4    2023-12-29         Selling Paintings         Income         13.63
..          ...                       ...            ...           ...
207  2023-10-14        Bookstore Purchase        Expense         31.50
208  2023-10-13           Online Shopping        Expense         68.50
209  2023-10-12     Car Insurance Premium        Expense        130.00
210  2023-10-11                    Salary         Income       1850.00
211  2023-10-10              Utility Bill        Expense         90.67

[212 rows x 4 columns]

In [5]:
unique_transactions = df["Name / Description"].unique()
len(unique_transactions)

71

In [6]:
unique_transactions[1:10]

array(['Tesco Breda', 'Monthly Appartment Rent',
       'Vishandel Sier Amsterdam', 'Selling Paintings',
       'Spotify Ab By Adyen', 'Tk Maxx Amsterdam Da', 'Consulting',
       'Aidsfonds', 'Tls Bv Inz Ov-Chipkaart'], dtype=object)

In [7]:
response = llm.invoke("Can you add appropriate category next to each of the following expenese. Respong with a list o categories entertianment, Beta boulders ams ansterdam nld- Sports,  etc.: "+" ,".join(unique_transactions[1:30]))
response = response

In [8]:
response

"Here is the list with categories added:\n\n1. Tesco Breda - Groceries\n2. Monthly Apartment Rent - Housing\n3. Vishandel Sier Amsterdam - Home Improvement\n4. Selling Paintings - Income\n5. Spotify Ab By Adyen - Entertainment (Music)\n6. Tk Maxx Amsterdam Da - Retail Therapy\n7. Consulting - Work\n8. Aidsfonds - Charity/Donation\n9. Tls Bv Inz Ov-Chipkaart - Transportation (Public Transit)\n10. Etos Amsterdam - Health and Wellness\n11. Beta Boulders Ams Amsterdam - Sports (Climbing)\n12. Birtat Restaurant Amsterdam - Dining Out\n13. Freelancing - Work\n14. Tikkie - Bills Payment\n15. Blogging - Income\n16. Taxi Utrecht - Transportation (Taxis)\n17. Apple Services - Technology (Software)\n18. Amazon Lux - E-commerce\n19. Classpass* Monthly - Fitness/Gym\n20. Audible Uk AdblCo/Pymt Gbr - Entertainment (Audiobooks)\n21. Travel Expenses - Travel\n22. Monthly Phone Bill - Communication (Phone)\n23. Car Maintenance - Transportation (Vehicle)\n24. Medical Check-up - Health and Wellness\n25. Online Course Subscription - Education\n26. Home Insurance Premium - Housing\n27. Bookstore Purchase - Entertainment (Books)\n\nLet me know if you'd like me to adjust any categories!"

In [9]:
#get index list

In [11]:
def hop(start, stop, step):
    for i in range(start, stop, step):
        yield i 
    yield stop 
    
index_list = list(hop(0, len(unique_transactions),10))
index_list

[0, 10, 20, 30, 40, 50, 60, 70, 71]

In [12]:
def categorize_transactions(transaction_names, llm):
    response = llm.invoke("Can you add an appropriate category to the following expenses. For example: Spotify AB by Adyen - Entertainment, Beta Boulders Ams Amsterdam Nld - Sport, etc.. Categories should be less than 4 words. " + transaction_names)
    response = response.split('\n')

    print(response)

    # Put in dataframe
    categories_df = pd.DataFrame({'Transaction vs category': response})
    categories_df[['Transaction', 'Category']] = categories_df['Transaction vs category'].str.split(' - ', expand=True)
    
    return categories_df

In [13]:

# Test out the function
categorize_transactions('ISS Catering Services De Meern, Taxi Utrecht, Etos AMSTERDAM NLD, Bistro Bar Amsterdam', llm)

['Here are the categorized expenses:', '', '1. Spotify AB by Adyen - **Entertainment**', '2. Beta Boulders Ams Amsterdam Nld - **Sport**', '3. ISS Catering Services De Meern - **Food/Work**', '4. Taxi Utrecht - **Transportation**', '5. Etos AMSTERDAM NLD - **Health/Beauty**', '6. Bistro Bar Amsterdam - **Entertainment**', '', "Let me know if you'd like me to add any other categories!"]

,Transaction vs category,Transaction,Category
0,Here are the categorized expenses:,Here are the categorized expenses:,None
1,,,None
2,1. Spotify AB by Adyen - **Entertainment**,1. Spotify AB by Adyen,**Entertainment**
3,2. Beta Boulders Ams Amsterdam Nld - **Sport**,2. Beta Boulders Ams Amsterdam Nld,**Sport**
4,3. ISS Catering Services De Meern - **Food/Work**,3. ISS Catering Services De Meern,**Food/Work**
5,4. Taxi Utrecht - **Transportation**,4. Taxi Utrecht,**Transportation**
6,5. Etos AMSTERDAM NLD - **Health/Beauty**,5. Etos AMSTERDAM NLD,**Health/Beauty**
7,6. Bistro Bar Amsterdam - **Entertainment**,6. Bistro Bar Amsterdam,**Entertainment**
8,,,None
9,Let me know if you'd like me to add any other ...,Let me know if you'd like me to add any other ...,None

In [14]:
categories_df_all = pd.DataFrame()

# Loop through the index_list
for i in range(0, len(index_list)-1):
    transaction_names = unique_transactions[index_list[i]:index_list[i+1]]
    transaction_names = ','.join(transaction_names)

    categories_df = categorize_transactions(transaction_names, llm)
    categories_df_all = pd.concat([categories_df_all, categories_df], ignore_index=True)

['Here are the categorized expenses:', '', '1. Spotify AB by Adyen - Entertainment', '2. Beta Boulders Ams Amsterdam Nld - Sport', '3. Belastingdienst - Taxes', '4. Tesco Breda - Grocery', '5. Monthly Appartment Rent - Housing', '6. Vishandel Sier Amsterdam - Food', '7. Selling Paintings - Miscellaneous', '8. Tk Maxx Amsterdam Da - Shopping', '9. Consulting - Professional Services', '10. Aidsfonds - Charity', '11. Tls BV Inz Ov-Chipkaart - Transportation', '', 'Let me know if you need any further assistance!']
['Here are the categorized expenses:', '', '* Spotify AB by Adyen - Entertainment', '* Beta Boulders Ams Amsterdam Nld - Sport', '* Etos Amsterdam - Health', '* Bouldermuur Bv Amsterdam - Sport', '* Biratat Restaurant Amsterdam - Dining', '* Freelancing - Work', '* Tikkie - Bills', '* Blogging - Work', '* Taxi Utrecht - Transportation', '* Apple Services - Tech']
['Here are the categorized expenses:', '', '1. Spotify AB by Adyen - Entertainment', '2. Beta Boulders Ams Amsterdam Nld - Sport', '3. Amazon Lux - Online Shopping', '4. Classpass* Monthly - Fitness', '5. Audible Uk AdblCo/Pymt Gbr - Entertainment', '6. Travel Expenses - Transportation', '7. Monthly Phone Bill - Communication', '8. Car Maintenance - Vehicle', '9. Medical Check-up - Health', '10. Online Course Subscription - Education', '11. Home Insurance Premium - Insurance', '12. Bookstore Purchase - Books', '', 'Let me know if you have any further requests!']
['Here are the categorized expenses:', '', '1. Spotify AB by Adyen - **Entertainment**', '2. Beta Boulders Ams Amsterdam Nld - **Sport**', '3. Freelance Graphic Design - **Work Expenses**', '4. Utilities Bill - **Household**', '5. Gym Membership Fee - **Fitness**', '6. Dinner with Friends - **Social**', '7. Public Transport Pass - **Travel**', '8. Web Hosting Renewal - **IT Services**', '9. Movie Theater Tickets - **Entertainment**', '10. Restaurant Lunch - **Food Out**', '11. Restaurant Lunch - **Social** (assuming this is not just a one-time lunch)', '12. Art Supplies - **Hobbies**', '13. Clothing Store Purchase - **Fashion**', '', "Let me know if you'd like me to adjust any of these categories!"]
['Here are the categorized expenses:', '', '1. Spotify AB by Adyen - **Entertainment**', '2. Beta Boulders Ams Amsterdam Nld - **Sport**', '3. Car Fuel - **Transportation**', '4. Mobile App Subscription - **Tech Subscriptions**', '5. Home Repairs - **Home Maintenance**', '6. Grocery Shopping - **Food Expenses**', '7. Software License Renewal - **Software Fees**', '8. Online Gaming Subscription - **Gaming Subs**', '9. Utility Bill - **Bills**', '10. Freelance Writing - **Work Income**', '11. Dentist Visit - **Healthcare**', '12. Coffee Shop Visit - **Food Out**', '', "Let me know if you'd like me to adjust any categories!"]
['Here are the categorized expenses:', '', '1. Spotify AB by Adyen - Entertainment', '2. Beta Boulders Ams Amsterdam Nld - Sport', '3. Monthly Rent - Housing', '4. Movie Night - Entertainment', '5. Grocery Store Purchase - Food', '6. Public Transportation - Travel', '7. Restaurant Dinner - Dining', '8. Car Insurance Premium - Auto', '9. Online Subscription Renewal - Internet', '10. Electronics Store Purchase - Tech', '11. Home Maintenance - Housing', '12. Online Course Enrollment - Education', '', "Let me know if you'd like me to adjust any of these categories!"]
['Here are the categorized expenses:', '', '1. Spotify AB by Adyen - Entertainment', '2. Beta Boulders Ams Amsterdam Nld - Sport', '3. Gym Membership Renewal - Fitness', '4. Shopping Spree - Retail', '5. Medical Appointment - Health', '6. Internet Bill - Utilities', "7. Valentine's Day Dinner - Celebration", '8. Online Subscription - Services', '9. Online Shopping - Retail', "10. New Year's Eve Party - Celebration", '11. Home Insurance Renewal - Insurance', '12. Christmas Dinner - Celebration', '', "Let me know if you'd like me to make any changes!"]
["Please go ahead and list the expenses, and I'll categorize them for you. Here are the categorized expenses:", '', '* Spotify AB by Adyen - Entertainment', '* Beta Boulders Ams Amsterdam Nld - Sport', '* [Your expense] - [Category]', '', 'What are your expenses?']

In [15]:
categories_df_all

,Transaction vs category,Transaction,Category
0,Here are the categorized expenses:,Here are the categorized expenses:,None
1,,,None
2,1. Spotify AB by Adyen - Entertainment,1. Spotify AB by Adyen,Entertainment
3,2. Beta Boulders Ams Amsterdam Nld - Sport,2. Beta Boulders Ams Amsterdam Nld,Sport
4,3. Belastingdienst - Taxes,3. Belastingdienst,Taxes
...,...,...,...
110,* Spotify AB by Adyen - Entertainment,* Spotify AB by Adyen,Entertainment
111,* Beta Boulders Ams Amsterdam Nld - Sport,* Beta Boulders Ams Amsterdam Nld,Sport
112,* [Your expense] - [Category],* [Your expense],[Category]
113,,,None
114,What are your expenses?,What are your expenses?,None

In [16]:
# Get unique categories in categories_df_all
unique_categories = categories_df_all["Category"].unique()
unique_categories

array([None, 'Entertainment', 'Sport', 'Taxes', 'Grocery', 'Housing',
       'Food', 'Miscellaneous', 'Shopping', 'Professional Services',
       'Charity', 'Transportation', 'Health', 'Dining', 'Work', 'Bills',
       'Tech', 'Online Shopping', 'Fitness', 'Communication', 'Vehicle',
       'Education', 'Insurance', 'Books', '**Entertainment**',
       '**Sport**', '**Work Expenses**', '**Household**', '**Fitness**',
       '**Social**', '**Travel**', '**IT Services**', '**Food Out**',
       '**Social** (assuming this is not just a one-time lunch)',
       '**Hobbies**', '**Fashion**', '**Transportation**',
       '**Tech Subscriptions**', '**Home Maintenance**',
       '**Food Expenses**', '**Software Fees**', '**Gaming Subs**',
       '**Bills**', '**Work Income**', '**Healthcare**', 'Travel', 'Auto',
       'Internet', 'Retail', 'Utilities', 'Celebration', 'Services',
       '[Category]'], dtype=object)

In [20]:
# Drop NA values
categories_df_all = categories_df_all.dropna()

# If category contains "Food", then categorise as "Food and Drinks"
categories_df_all.loc[categories_df_all['Category'].str.contains("Food"), 'Category'] = "Food and Drinks"
# If category contains "Clothing", then categorise as "Clothing"
categories_df_all.loc[categories_df_all['Category'].str.contains("Clothing"), 'Category'] = "Clothing"
# If category contains "Services", then categorise as "Services"
categories_df_all.loc[categories_df_all['Category'].str.contains("Services"), 'Category'] = "Services"
# If category contains "Health" or "Wellness", then categorise as "Health and Wellness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Health|Wellness"), 'Category'] = "Health and Wellness"
# If category contains "Sport", then categorise as "Sport
#  and Fitness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Sport"), 'Category'] = "Sport and Fitness"
# If category contains "Travel", then categorise as "Travel"
categories_df_all.loc[categories_df_all['Category'].str.contains("Travel"), 'Category'] = "Travel"

In [21]:
categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '')
categories_df_all

,Transaction vs category,Transaction,Category
2,1. Spotify AB by Adyen - Entertainment,1. Spotify AB by Adyen,Entertainment
3,2. Beta Boulders Ams Amsterdam Nld - Sport,2. Beta Boulders Ams Amsterdam Nld,Sport and Fitness
4,3. Belastingdienst - Taxes,3. Belastingdienst,Taxes
5,4. Tesco Breda - Grocery,4. Tesco Breda,Grocery
6,5. Monthly Appartment Rent - Housing,5. Monthly Appartment Rent,Housing
...,...,...,...
104,11. Home Insurance Renewal - Insurance,11. Home Insurance Renewal,Insurance
105,12. Christmas Dinner - Celebration,12. Christmas Dinner,Celebration
110,* Spotify AB by Adyen - Entertainment,* Spotify AB by Adyen,Entertainment
111,* Beta Boulders Ams Amsterdam Nld - Sport,* Beta Boulders Ams Amsterdam Nld,Sport and Fitness
112,* [Your expense] - [Category],* [Your expense],[Category]

In [22]:
# Merge the categories_df_all with the transactions_2022_2023.csv dataframe (df)
df = pd.read_csv("transactions_2022_2023.csv")
df.loc[df['Name / Description'].str.contains("Spotify"), 'Name / Description'] = "Spotify Ab By Adyen"
df = pd.merge(df, categories_df_all, left_on='Name / Description', right_on='Transaction', how='left')
df

,Date,Name / Description,Expense/Income,Amount (EUR),Transaction vs category,Transaction,Category
0,2023-12-30,Belastingdienst,Expense,9.96,NaN,NaN,NaN
1,2023-12-30,Tesco Breda,Expense,17.53,NaN,NaN,NaN
2,2023-12-30,Monthly Appartment Rent,Expense,451.00,NaN,NaN,NaN
3,2023-12-30,Vishandel Sier Amsterdam,Expense,12.46,NaN,NaN,NaN
4,2023-12-29,Selling Paintings,Income,13.63,NaN,NaN,NaN
...,...,...,...,...,...,...,...
207,2023-10-14,Bookstore Purchase,Expense,31.50,NaN,NaN,NaN
208,2023-10-13,Online Shopping,Expense,68.50,NaN,NaN,NaN
209,2023-10-12,Car Insurance Premium,Expense,130.00,NaN,NaN,NaN
210,2023-10-11,Salary,Income,1850.00,NaN,NaN,NaN
211,2023-10-10,Utility Bill,Expense,90.67,NaN,NaN,NaN

In [23]:
df.to_csv("transactions_2022_2023_categorized.csv", index=False)